
.marketing-page {
    width: 100%;
    //height: 650px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}