
.header-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .img-1 {
        width: 210px;
        max-width: 100%;
        height: 420px;
        margin-bottom: 48.5px;    
        margin-left: 150px;
        margin-top: 50px;
        margin-right: 30px;
        
            img {
                width: 100%;
                height: 100%;
                transition: 3s;
                overflow: hidden;
                &:hover {
                    transform: scale(1.1);
                }
            }
    }
            
    
    .img-2 {
        width: 210px;
        height: 420px;
        margin-top: 47px;
        margin-right: 30px;
        //margin-bottom: 50px;

        img {
            width: 100%;
            height: 100%;
            transition: 3s;
            overflow: hidden;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    
    .img-3 {
        width: 210px;
        height: 420px;
        margin-bottom: 48.5px;  
        margin-top: 50px;

            img {
                width: 100%;
                height: 100%;
                transition: 3s;
                overflow: hidden;
                &:hover {
                    transform: scale(1.1);
                }
            }
    }
    .img-1, .img-2, .img-3 {   

        @media screen and ( max-width: 768px ) {
            display: none;
        }
        @media screen and ( min-width: 768px ) and ( max-width: 878px) {
            width: 150px;
            height: 333px;
        }
        @media screen and ( min-width: 879px ) and ( max-width: 992px) {
            width: 180px;
            height: 363px;
        }
        @media screen and ( min-width: 992px ) and ( max-width: 1000px ) {
            width: 210px;
            height: 393px;
        }

    }
}
