$btn-hover: #c0712c;
$btn-primary: #C78347;



.btn-lg-holder {
    margin-bottom: 150px;
}

.icon-cards {
    margin-top: 50px;
    margin-bottom: 50px;

    @media screen and ( max-width: 768px  ) {
        margin-left: 100px;
    }

        .marketing-heading {
                text-align: center;
                padding-bottom: 60px;

                @media screen and ( max-width: 768px ) {
                    margin-left: -100px;
                }

                h1 {
                    color: #707070;
                    font-size: 25px;
                    font-weight: 500;
                    &:hover {
                        color: #c0712c;
                        cursor: pointer;
                    }
                }
            }
    
        
    .cards-body {
        width: 230px;
        height: 224px;
        box-shadow: 6px 5px 15px #cdcdcd;
        border: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;

        transition: 2s;

            &:hover {
                transform: scale(1.1);
            }

        .rounded-cards {
            width: 210px;
            height: 194px;
            margin-top: 15px;
            border-radius: 25px;
            background-color: hsla(223, 24%, 85%, 0.13);
            img {
                padding-top: 20px;
                margin-bottom: 20px;
                width: 72px;
            }
            .cards-text {
                font-size: 14px;
                color: #707070;

                &:hover {
                    color: $btn-hover;
                }
            }
        }
    }
}