$btn-hover: #c0712c;
$btn-primary: #C78347;
$btn-shadow: 3px 3px 12px #141414;


.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .primary {
        width: 130px;
        height: 45px;
        border-radius: 0px;
        font-size: 12px;
        margin-left: 50px; 
        color: #212226;
        background-color: $btn-primary;
        border-color: $btn-primary;
        margin-top: 50px;
        &:hover {
            background-color: $btn-hover;
            color: #212226;
            border-color: $btn-hover;
        }
        &:focus {
            border-color: $btn-hover;
            background-color: $btn-hover;
            box-shadow: $btn-shadow;
        }
        @media screen and ( max-width: 768px ) {
            margin-left: 105px;
        }
    }
    .outline {
        width: 130px;
        height: 45px;
        border-radius: 0px;
        font-size: 12px;
        margin-top: 50px;
        color: $btn-primary;
        border-color: $btn-primary;
        margin-left: 15px;
        &:hover {
            border-color: $btn-hover;
            color: #212226;
            background-color: $btn-hover;
        }
        &:focus {
            border-color: $btn-hover;
            box-shadow: $btn-shadow;
            background-color: #212226;
            color: $btn-hover;
        }
    }
}