
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .primary {
        width: 130px;
        height: 45px;
        border-radius: 0px;
        font-size: 12px;
        margin-left: 50px; 
        color: #212226;
        background-color: #C78347;
        border-color: #C78347;
        margin-top: 50px;
        &:hover {
            background-color: rgb(192, 113, 44);
            color: #212226;
            border-color: rgb(192, 113, 44);
        }
        @media screen and ( max-width: 768px ) {
            margin-left: 105px;
        }
    }
    .outline {
        width: 130px;
        height: 45px;
        border-radius: 0px;
        font-size: 12px;
        margin-top: 50px;
        color:#C78347;
        border-color: #C78347;
        margin-left: 15px;
        //font-weight: 500;
        &:hover {
            border-color: rgb(192, 113, 44);
            color: rgb(192, 113, 44);
            background-color: #212226;

        }
    }
}