.order-button {

    .custom {
        width: 78.4px;
        height: 24.4px;
        border-radius: 0px;
        font-size: 7.5px;
        font-weight: bold;
        background-color: #C78347;
        border-color: #C78347;
        color: #212226;
        opacity: none;
        margin-top: 14.5px;
        margin-bottom: 14.5px;
        margin-left: 150px;
        box-shadow: 3px 3px 12px #9e8d7d;
        &:hover {
            background-color: #c0712c;
            color: #212226;
            border-color: rgb(192, 113, 44);
        }
    }
}
