
.header-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .img-1 {
        @media screen and ( max-width: 768px ) {
            display: none;
        }
            img {
                width: 250px;
                height: 420px;
                margin-top: 18.5px;
                margin-bottom: 48.5px;
                padding-right: 40px;
                margin-left: 150px;
                transition: 3s;
                overflow: hidden;
                &:hover {
                    transform: scale(1.1);
                }
                @media screen and ( min-width: 768px ) and ( max-width: 878px) {
                    width: 150px;
                    height: 333px;
                }
                @media screen and ( min-width: 879px ) and ( max-width: 992px) {
                    width: 180px;
                    height: 363px;
                }
                @media screen and ( min-width: 992px ) and ( max-width: 1000px ) {
                    width: 210px;
                    height: 393px;
                }
            }
    }
            
    
    .img-2 {
        @media screen and (max-width: 768px) {
            display: none;
        }
        img {
            width: 250px;
            height: 420px;
            margin-bottom: 20px;
            margin-top: 47px;
            padding-right: 40px;
            transition: 3s;
            overflow: hidden;
            &:hover {
                transform: scale(1.1);
            }
            @media screen and ( min-width: 768px ) and ( max-width: 878px) {
                width: 150px;
                height: 333px;
            }
            @media screen and ( min-width: 879px ) and ( max-width: 992px) {
                width: 180px;
                height: 363px;
            }
            @media screen and ( min-width: 992px ) and ( max-width: 1000px ) {
                width: 210px;
                height: 393px;
            }
        }
    }

    
    .img-3 {
        @media screen and (max-width: 768px) {
            display: none;
        }   
            img {
                width: 250px;
                height: 420px;
                margin-top: 18.5px;
                margin-bottom: 48.5px;
                padding-right: 40px;
                transition: 3s;
                overflow: hidden;
                &:hover {
                    transform: scale(1.1);
                }
                @media screen and ( min-width: 768px ) and ( max-width: 878px) {
                    width: 150px;
                    height: 333px;
                }
                @media screen and ( min-width: 879px ) and ( max-width: 992px) {
                    width: 180px;
                    height: 363px;
                }
                @media screen and ( min-width: 992px ) and ( max-width: 1000px ) {
                    width: 210px;
                    height: 393px;
                }
            }
    }
}
