.marketing-page {
    width: 100%;
    height: 650px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
        h1 {
        color: #707070;
        font-size: 25px;
        padding-top: 50px;
        padding-bottom: 60px;
        text-align: center;
        font-weight: 500;
        }

}