.cards {
    width: 250.7px;
    height: 262px;
    border: none;
    margin-top: 100px;
    //margin-right: 20px;
    //margin-left: -50px;//c
    //padding-left: 100px;

    .image-holder {
        width: 250.7px;
        height: 250.7px;
        border-style: none;
        background-color: white;
        box-shadow: 6px 5px 15px #cdcdcd;
        overflow: hidden;
    

        img {
            width: 220px;
            height: 170px;
            margin-left: 15.35px;
            margin-right: 15.35px;
            margin-top: 40.35px;
            margin-bottom: 40.35px;
            transition: all ease 5s;
            &:hover {
                transform: scale(1.5);
            }
        }
    }

    .footer {
        width: 250.7px;
        height: 51.6px;
        border-style: none;
        background-color:rgb(211, 188, 168);
        box-shadow: 6px 5px 15px #cdcdcd;
    }
}