
.cards {
	width: 250.7px;
	height: 262px;
	border: none;
	margin-top: 100px;
	margin-right: 40px;

	.image-holder {
		width: 250.7px;
		height: 250.7px;
		border-style: none;
		background-color: white;
		box-shadow: 6px 5px 15px #cdcdcd;
		overflow: hidden;
		img {
			width: 220px;
			height: 170px;
			margin-left: 15.35px;
			margin-right: 15.35px;
			margin-top: 40.35px;
			margin-bottom: 40.35px;
			transition: all ease 5s;
			&:hover {
				transform: scale(1.5);
			}
		}
	}

	.footer {
		width: 250.7px;
		height: 51.6px;
		border-style: none;
		background-color:rgb(211, 188, 168);
		box-shadow: 6px 5px 15px #cdcdcd;
	}
}
.first-row-cards {
	width: 80%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-image: radial-gradient(#CDCDCD 20%, transparent 20%);
	background-size: 20px 20px;
	margin-left: 150px;
	margin-bottom: 50px;
	@media screen and ( max-width: 991px ) {
		width: 100%;
		margin: 0;
		margin-bottom: 50px;
		padding-left: 20px;
	}
	@media screen and ( max-width: 880px ) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 0px;
	}
	@media screen and ( max-width: 550px ) {
		padding-left: 40px;
	}
}
.second-row-cards {
	width: 80%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-image: radial-gradient(#CDCDCD 20%, transparent 20%);
	background-size: 20px 20px;
	margin-top: 60px;
	margin-bottom: 200px;
	margin-left: 100px;
	@media screen and ( max-width: 991px ) {
		width: 100%;
		margin: 0;
		margin-bottom: 200px;
		padding-left: 20px;
	}
	@media screen and ( max-width: 880px ) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 0px;
	}
	@media screen and ( max-width: 550px ) {
		padding-left: 40px;
	}
}