$btn-hover: #c0712c;
$btn-primary: #C78347;
$btn-shadow: 3px 3px 20px #ddd9d6;


.select-bar {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	.select {
		width: 309.5px;
		border-color: $btn-primary;
		border-radius: 0px;
		margin-top: 10px;
		outline: none;
		color: $btn-primary;
		font-size: 14px;
		font-family: 'Nunito Sans', sans-serif;

		&:hover {
			cursor: pointer;
		}
		&:focus {
			border-color: $btn-hover;
			box-shadow: $btn-shadow;
			color: $btn-primary;
		}
	}
}
